.tipo-entrega-box {
  margin-top: 25px;
}

.opcoes-entrega {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.opcao-item {
  width: 150px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  background: #fff;
}

.opcao-item:hover {
  border-color: #d32f2f;
}

.opcao-item img {
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.opcao-item.ativo {
  border-color: #e21b1b;
  background: #ffeeee;
}
